
application.macosx/facemergeconsole.app/Contents/PlugIns/jdk1.7.0_51.jdk/Contents/Home/jre/lib/security/local_policy.jar

application.macosx/facemergeconsole.app/Contents/PlugIns/jdk1.7.0_51.jdk/Contents/Home/jre/lib/zi/EST
data/images

data/images/001L.jpg

*.jpg

data/images/001L.jpg

*.jpg

output/log.txt

*.png

*.png
